<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <style>
        .layui-table-header th {
            text-align: center;
            font-size: 22px;
        }
        .layui-table-body tr{
            height: 60px;
        }
    </style>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/admin.html">控制台</a></li>
            <li class="layui-nav-item"><a href="/index.html">游戏交易平台首页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="'image/'+${session.user.userAvatar}" class="layui-nav-img">
                    <span th:text="${session.user.userNickname}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/logout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="/admin-chart.html;">数据报表</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">平台管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin-user.html">用户管理</a></dd>
                        <dd class="layui-this"><a href="/admin-game.html">游戏管理</a></dd>
                        <dd><a href="/admin-goods.html">商品管理</a></dd>
                        <dd><a href="/admin-order.html">订单管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/approval.html">商品审核</a></li>
                <li class="layui-nav-item"><a href="/addGame.html">新游戏录入</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div style="width: 1250px;height: auto;border: 2px solid;padding: 10px;">
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © DiamondJ 联系邮箱shendongjian@email.ncu.edu.cn
    </div>
</div>
<script type="text/javascript" th:src="@{/layui.all.js}"></script>

<script th:inline="javascript">
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 'full-100'
            ,url: '/admin/getGame' //数据接口
            ,page: true //开启分页
            //,where:{target:'[(${target})]'}
            ,cols: [
                [ //表头
                    {field:'gameId', width:150,sort:true,style:'font-size:20px;',title:'ID'}
                    ,{field:'gameName', width:250,style:'font-size:20px;',title:'游戏名'}
                    ,{field:'gamePicture', width:300,style:'font-size:20px;',title:'图片'}
                    ,{field:'gameType',width:300,sort:true,style:'font-size:22px;',title:'类型'}
                    ,{field:'right',width:220,style:'font-size:22px;',title:'管理',toolbar:'#barDemo'}
                ]
            ]
            ,done: function (res,curr,count) {
                $("[data-field='gameType']").children().each(function(){
                    if($(this).text()=='1'){
                        $(this).text("PC客户端游戏")
                    }else if($(this).text()=='2'){
                        $(this).text("网页游戏")
                    }else if($(this).text()=='3'){
                        $(this).text("手机游戏")
                    }else if($(this).text()=='4'){
                        $(this).text("其他游戏")
                    }
                });
            }
        });
    });
</script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<script type="text/html" id="barDemo">
    <a href="/game/delete?gameId={{d.gameId}}" onclick="return confirm('确定删除吗?该操作无法撤销!')"><button style="width:100px;height: 40px;font-size: 15px;" class="layui-btn layui-btn-danger">删除</button></a>
</script>


</body>
</html>