.loginDiv{
	position: absolute;
	left: 35%;
	top: 6%;
	background: white;
	opacity: 75%;
	width: 500px;
	height: 670px;
}
.logoDiv{
	width: 400px;
	height: 150px;
	position: relative;
	left: 10px;
	top: 20px;
}
.logoImg{
	width: 150px;
	height: 150px;
}
.wordDiv{
	position: relative;
	left: 160px;
	top:-120px;
	width: 330px;
	height: 150px;
}
.word{
	font-size: 55px;
	font-weight: bold;
	position: relative;
	top: 20px;
	left: 5px;
}
.formDiv{
	position: relative;
	width: 450px;
	height: 400px;
	/*background: yellow;*/
	left: 25px;
	top: -125px;
}
.firstInput{
	position: relative;
	/*background: black;*/
	width: 450px;
	height: 80px;
}
.secondInput{
	position: relative;
	width: 450px;
	height: 40px;
}
.noUser{
	position: relative;
	left: 115px;
	font-size: 20px;
}
.total{
	width: 100%;
	height: 700px;
	position: relative;

}
.logos{
	position: relative;
	width: 500px;
	height: 200px;
	left: 100px;
	top:50px;
}
.smallWord{
	position: relative;
	font-size:25px;
	color: blue;
	top:-170px;
	left:250px;
	font-family: Georgia;
	font-style:oblique;
}
.searchDiv{
	position: relative;
	width: 800px;
	height: 200px;
	left: 650px;
	top:-150px;
}
.recommendDiv{
	position: relative;
	width: 1350px;
	height: 450px;
	top: -120px;
	left: 100px;
	border:2px solid;
}
.gameLogo{
	position: relative;
	width: 100px;
	height: 100px;
	left: 55px;
	top: 10px;
}
.gameNameDiv{
	position: relative;
	width: 100px;
	height: 25px;
	left: 53px;
	top: 15px;
	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow:hidden;
 	font-size:18px;
 	text-align:center;
}
