.loginDiv{
	position: absolute;
	left: 35%;
	top: 6%;
	background: white;
	opacity: 75%;
	width: 500px;
	height: 670px;
}
.logoDiv{
	width: 400px;
	height: 150px;
	position: relative;
	left: 10px;
	top: 20px;
}
.logoImg{
	width: 150px;
	height: 150px;
}
.wordDiv{
	position: relative;
	left: 160px;
	top:-120px;
	width: 330px;
	height: 150px;
}
.word{
	font-size: 55px;
	font-weight: bold;
	position: relative;
	top: 20px;
	left: 5px;
}
.formDiv{
	position: relative;
	width: 450px;
	height: 400px;
	/*background: yellow;*/
	left: 25px;
	top: -125px;
}
.firstInput{
	position: relative;
	/*background: black;*/
	width: 450px;
	height: 80px;
}
.secondInput{
	position: relative;
	width: 450px;
	height: 40px;
}
.noUser{
	position: relative;
	left: 115px;
	font-size: 20px;
}
.total{
	width: 100%;
	height: 700px;
	position: relative;
}
.logos{
	position: relative;
	width: 500px;
	height: 200px;
	left: 100px;
	top:50px;
}
.smallWord{
	position: relative;
	font-size:25px;
	color: blue;
	top:-170px;
	left:250px;
	font-family: Georgia;
	font-style:oblique;
}
.searchDiv{
	position: relative;
	width: 800px;
	height: 200px;
	left: 650px;
	top:-150px;
}
.recommendDiv{
	position: relative;
	width: 1350px;
	height: 450px;
	top: -120px;
	left: 100px;
	border:2px solid;
}
.gameLogo{
	position: relative;
	width: 100px;
	height: 100px;
	left: 55px;
	top: 10px;
}
.gameNameDiv{
	position: relative;
	width: 100px;
	height: 25px;
	left: 53px;
	top: 15px;
	text-overflow:ellipsis;
 	white-space:nowrap;
 	overflow:hidden;
 	font-size:18px;
 	text-align:center;
}
.bigLogoDiv{
	position: relative;
	width: 200px;
	height: 200px;
	left: 150px;
	top: 50px;
}
.bigLogo{
	width: 200px;
	height: 200px;
}
.bigSearchDiv{
	position: relative;
	width: 800px;
	height: 200px;
	left: 400px;
	top: -150px;
}
.smallDiv{
	position: relative;
	width: 900px;
	height: 50px;
	top: -100px;
	left: 150px;
}
.firstSpan{
	font-size:30px;
}
.secondSpan{
	font-size:30px;
	color: red;
}
.tableDiv{
	position: relative;
	width: 1200px;
	height: 600px;
	left: 150px;
	top: -90px;
}
table{
	font-size:30px;
	color: grey;
	text-align: center;
}
table thead tr{
	height: 80px;
}
table thead th{
	width: 200px;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA  no-repeat;
	text-align: center;
	font-size: 30px;
}
table tbody tr{
	height: 100px;
}
table tbody th{
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
.pageDiv{
	position: relative;
	width: 1000px;
	height: 100px;
	left: 200px;
	top: -80px;
}
.detailDiv{
	position: relative;
	width: 1200px;
	height: 700px;
	left: 140px;
	top:-120px;
}
.titleDiv{
	position: relative;
	width: 1000px;
	height: 100px;

}
.goodTitle{
	font-size:40px;
	color: blue;
	font-family: "times";
	font-weight:bolder;
	position: relative;
	left:100px;
	top: 20px;
}
.detailImage{
	position: relative;
	width: 450px;
	height: 400px;
	left: 50px;
	border: 1px solid;
}
.priceDiv{
	position: relative;
	width: 400px;
	height: 100px;
	left: 550px;
	top: -400px;
	font-size:60px;
	color: orange;
}
.intDiv{
	position: relative;
	width: 600px;
	height: 300px;
	top: -400px;
	left: 550px;
	background: #FFF0F5;
}
.gameServerDiv{
	position: relative;
	width: 580px;
	height: 50px;
	font-size:30px;
	top: 10px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	color: grey;
}
.timeDiv{
	position: relative;
	width: 580px;
	height: 50px;
	font-size:30px;
	top: 10px;
	color: grey;
}
.introduceDiv{
	position: relative;
	width: 600px;
	height: 190px;
	top: 10px;
	font-size:22px;
	color: #696969;
}
.buttonDiv{
	position: relative;
	width: 400px;
	height: 100px;
	left: 450px;
	top: -350px;
}
.sellerDiv{
	position: relative;
	width: 400px;
	height: 140px;
	top: -880px;
	left: 900px;
	font-size:22px;
	color: 	#2F4F4F;
	border: 1px solid yellow;
}
.sellerIn{
	position: relative;
	width: 500px;
	height: 40px;
	top: 10px;
}
.tips{
	position: relative;
	font-size:25px;
	color: red;
	left: 100px;
	top: 50px;
}
.confirmDiv{
	position: relative;
	width: 100%;
	height: 300px;
	top: 40px;
}
.price{
	font-size: 40px;
	color: orange;
}
.selfDiv{
	position: relative;
	width: 1200px;
	height: 600px;
	left:180px;
	top: 50px;
	border: 3px solid;
}
.avatarDiv{
	position: relative;
	width: 300px;
	height: 250px;
	left: 100px;
	top: 50px;
	border: 2px dashed blue;
}
.avatar{
	position: relative;
	width: 150px;
	height: 150px;
	left: 75px;
	top: 20px;
}
.dataDiv{
    position: relative;
    width: 500px;
    height: 300px;
    left: 500px;
    top: -200px;
}
.smallDataDiv{
    position: relative;
    width: 480px;
    height: 60px;
    top: 10px;
    font-size: 32px;
}
.inputDiv{
    position: relative;
    width: 280px;
    height: 50px;
    left: 130px;
    top: -38px;
}
.edit{
    position: relative;
    top: -90px;
    left: 430px;
}
.registerTime{
    position: relative;
    width: 400px;
    height: 40px;
    left: 500px;
    top: -240px;
    font-size:25px;
    color: grey;
}