<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${good.goodsName}+' 详情'"></title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/normal.css}"/>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="/index.html"><i class="layui-icon layui-icon-home"></i>南昌大学游戏交易平台首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="">管理员入口</a>
    </li>
    <li class="layui-nav-item">
        <a href="http://www.ncu.edu.cn/" target="_blank">友情链接-南昌大学首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/search.html">我要购买</a>
    </li>
    <li class="layui-nav-item">
        <a href="">我要出售</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:come();"><i class="layui-icon layui-icon-service"></i>联系客服</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a href="javascript:;"><img th:src="'image/'+${session.user.userAvatar}" class="layui-nav-img"><span th:text="${session.user.userNickname}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人资料</a></dd>
            <dd><a href="javascript:;">我的订单</a></dd>
            <dd><a href="javascript:;">退出登录</a></dd>
        </dl>
    </li>
</ul>
<div class="total">

    <div class="bigLogoDiv">
        <img src="image/logo.png" class="bigLogo">
    </div>

    <div class="bigSearchDiv">
        <i class="layui-icon layui-icon-search" style="font-size:40px;position: relative;top: 70px;left: 20px;"></i>
        <form action="" method="get">
            <input type="text" name="search" placeholder="输入您要查找的游戏/商品名称或关键字"  class="layui-input" style="position: relative;width: 500px;height: 60px; left: 90px;top:20px;font-size: 25px;">
            <input type="submit" class="layui-btn layui-btn-normal" value="搜索" style="position: relative;width: 150px;height: 60px;font-size:30px; left: 620px;top: -40px;" />
        </form>
    </div>


<div class="detailDiv">
    <div class="titleDiv">
        <span class="goodTitle" th:text="${good.goodsName}"></span>
    </div>
    <hr style="height:10px;border:none;border-top:10px groove skyblue;position: relative;top: -20px;"/>
    <div class="detailImage">
        <img th:src="'image/good/'+${good.goodsPicture}" style="width: 450px;height: 400px;">
    </div>
    <div class="priceDiv">
        <i class="layui-icon layui-icon-rmb" style="font-size:50px;"></i>
        <span th:text="${good.goodsPrice}"></span>
    </div>
    <div class="intDiv">
        <div class="gameServerDiv">
            所属游戏/区服:<span th:text="${game}"></span>/
            <span th:text="${good.goodsGameServer}"></span>
        </div>
        <div class="timeDiv">
            商品更新时间:
            <span th:text="${good.goodsUpdateTime}"></span>
        </div>
        <div class="introduceDiv">
            商品简介:
            <span th:text="${good.goodsDescription}"></span>
        </div>
    </div>
    <div class="buttonDiv">
        <form action="/placeOrder.html" method="get">
            <input type="hidden" name="goodId" th:value="${good.goodsId}">
            <input type="submit" class="layui-btn layui-btn-normal" value="立即购买" style="width: 300px;height: 80px;font-size:35px;">
        </form>
    </div>

</div>

<div class="sellerDiv">
    <div class="sellerIn">卖家手机号:<span id="phoneSpan" th:text="${seller.userPhone}"></span></div>
    <div class="sellerIn">卖家昵称:<span th:text="${seller.userNickname}"></span></div>
    <div class="sellerIn">卖家注册时间:<span th:text="${seller.userRegisterTime}"></span></div>

</div>
</div>


<script type="text/javascript" th:src="@{/layui.all.js}"></script>
<script>
    function come() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('本站暂无人工客服在线!如有疑问请咨询邮箱shendongjian@email.ncu.edu.cn');
        });
    }
</script>
<script>
    var phone = document.getElementById("phoneSpan").innerText;
    var str = phone.split('');
    if(phone.length > 7){
        for(var i = 3; i < phone.length - 4; i++){
            str[i] = '*';
        }
    }else if(phone.length > 4){
        for(var i = 2; i < phone.length - 2; i++){
            str[i] = '*';
        }
    }else if(phone.length > 2){
        for(var i = 1; i < phone.length -1 ; i++){
            str[i] = '*';
        }
    }
    document.getElementById("phoneSpan").innerHTML = str.join('');
</script>


</body>
</html>