<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>南昌大学游戏交易平台-主页</title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/normal.css}"/>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>
</head>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="/index.html"><i class="layui-icon layui-icon-home"></i>南昌大学游戏交易平台首页</a>
    </li>
    <li class="layui-nav-item">
        <input type="hidden" th:value="${session.user.userIsAdmin}" id="isAdmin">
        <a href="/admin.html" onclick="return checkAdmin()">管理员入口</a>
    </li>
    <li class="layui-nav-item">
        <a href="http://www.ncu.edu.cn/" target="_blank">友情链接-南昌大学首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/search.html">我要购买</a>
    </li>
    <li class="layui-nav-item">
        <a href="/sell.html">我要出售</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:come();"><i class="layui-icon layui-icon-service"></i>联系客服</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a href="/self.html"><img th:src="'image/'+${session.user.userAvatar}" class="layui-nav-img"><span th:text="${session.user.userNickname}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="/self.html">个人资料</a></dd>
            <dd><a href="/order.html">我的订单</a></dd>
            <dd><a href="/user/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>

<div class="total">
    <div class="logos">
        <div class="logoDiv">
            <img src="image/logo.png" class="logoImg">
        </div>
        <div class="wordDiv">
            <p class="word">游戏交易平台</p>
        </div>
        <p class="smallWord">——中国网游新平台</p>
    </div>



    <div class="searchDiv">
        <i class="layui-icon layui-icon-search" style="font-size:40px;position: relative;top: 70px;left: 20px;"></i>
        <form action="/search.html" method="get">
            <input type="text" name="target" placeholder="输入您要查找的游戏/商品名称或关键字" class="layui-input" maxlength="30"
                   style="position: relative;width: 500px;height: 60px; left: 90px;top:20px;font-size: 25px;">
            <input type="submit" class="layui-btn layui-btn-normal" value="搜索"
                   style="position: relative;width: 150px;height: 60px;font-size:30px; left: 620px;top: -40px;"/>
        </form>

    </div>

    <div class="recommendDiv">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">热门游戏</li>
                <li>PC客户端游戏</li>
                <li>网页游戏</li>
                <li>手机游戏</li>
                <li>其他游戏</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div th:each="hot:${hot}">
                            <div class="layui-col-md2" style="height: 140px;">
                                <a th:href="'/search.html?target='+${hot.gameName}"><img th:src="'image/'+${hot.gamePicture}" class="gameLogo"></a>
                                <div class="gameNameDiv">
                                    <a th:href="'/search.html?target='+${hot.gameName}"><span th:text="${hot.gameName}"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row"><br>
                            <div class="layui-col-md12" style="height: 50px;text-align: center;">
                                <a href="/search.html"><button type="button" class="layui-btn layui-btn-normal"
                                        style="width: 200px;font-size:18px;">更多游戏
                                </button></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div th:each="client:${client}">
                            <div class="layui-col-md2" style="height: 140px;">
                                <a th:href="'/search.html?target='+${client.gameName}"><img th:src="'image/'+${client.gamePicture}" class="gameLogo"></a>
                                <div class="gameNameDiv">
                                    <a th:href="'/search.html?target='+${client.gameName}"><span th:text="${client.gameName}"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row"><br>
                            <div class="layui-col-md12" style="height: 50px;text-align: center;">
                                <a href="/search.html"><button type="button" class="layui-btn layui-btn-normal"
                                        style="width: 200px;font-size:18px;">更多游戏
                                </button></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div th:each="page:${page}">
                            <div class="layui-col-md2" style="height: 140px;">
                                <a th:href="'/search.html?target='+${page.gameName}"><img th:src="'image/'+${page.gamePicture}" class="gameLogo"></a>
                                <div class="gameNameDiv">
                                    <a th:href="'/search.html?target='+${page.gameName}"><span th:text="${page.gameName}"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row"><br>
                            <div class="layui-col-md12" style="height: 50px;text-align: center;">
                                <a href="/search.html"><button type="button" class="layui-btn layui-btn-normal"
                                        style="width: 200px;font-size:18px;">更多游戏
                                </button></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div th:each="mobile:${mobile}">
                            <div class="layui-col-md2" style="height: 140px;">
                                <a th:href="'/search.html?target='+${mobile.gameName}"><img th:src="'image/'+${mobile.gamePicture}" class="gameLogo"></a>
                                <div class="gameNameDiv">
                                    <a th:href="'/search.html?target='+${mobile.gameName}"><span th:text="${mobile.gameName}"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row"><br>
                            <div class="layui-col-md12" style="height: 50px;text-align: center;">
                                <a href="/search.html"><button type="button" class="layui-btn layui-btn-normal"
                                        style="width: 200px;font-size:18px;">更多游戏
                                </button></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div th:each="other:${other}">
                            <div class="layui-col-md2" style="height: 140px;">
                                <a th:href="'/search.html?target='+${other.gameName}"><img th:src="'image/'+${other.gamePicture}" class="gameLogo"></a>
                                <div class="gameNameDiv">
                                    <a th:href="'/search.html?target='+${other.gameName}"><span th:text="${other.gameName}"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row"><br>
                            <div class="layui-col-md12" style="height: 50px;text-align: center;">
                                <a href="/search.html"><button type="button" class="layui-btn layui-btn-normal"
                                        style="width: 200px;font-size:18px;">更多游戏
                                </button></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


<script type="text/javascript" th:src="@{/layui.all.js}"></script>
<script>
    function come() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('本站暂无人工客服在线!如有疑问请咨询邮箱shendongjian@email.ncu.edu.cn');
        });
    }
    function checkAdmin() {
        var isAdmin = document.getElementById("isAdmin").value;
        if(isAdmin == '0' || isAdmin == 0){
            alert("对不起,您不是管理员,无权限进入!");
            return false;
        }else{
            return true;
        }
    }
</script>


</body>
</html>