<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/normal.css}"/>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="/index.html"><i class="layui-icon layui-icon-home"></i>南昌大学游戏交易平台首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="">管理员入口</a>
    </li>
    <li class="layui-nav-item">
        <a href="http://www.ncu.edu.cn/" target="_blank">友情链接-南昌大学首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/search.html">我要购买</a>
    </li>
    <li class="layui-nav-item">
        <a href="/sell.html">我要出售</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:come();"><i class="layui-icon layui-icon-service"></i>联系客服</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a href="/self.html"><img th:src="'image/'+${session.user.userAvatar}" class="layui-nav-img"><span th:text="${session.user.userNickname}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="/self.html">个人资料</a></dd>
            <dd><a href="/order.html">我的订单</a></dd>
            <dd><a href="/user/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>

<div class="total">
    <div class="layui-tab layui-tab-card" style="width: 1400px;position: relative;left: 50px;top: 50px;">
        <ul class="layui-tab-title">
            <li class="layui-this">我的买家订单</li>
            <li>我的卖家订单</li>
        </ul>
        <div class="layui-tab-content" style="height: auto;">
            <div class="layui-tab-item layui-show">
            <table style="text-align: center;width: 1380px;">
                <thead>
                <tr>
                    <th style="width: 130px;">订单编号</th>
                    <th style="width: 130px;">订单商品</th>
                    <th style="width: 220px;">所属游戏/区服/收货账号</th>
                    <th style="width: 130px;">订单创建时间</th>
                    <th style="width: 130px;">订单更新时间</th>
                    <th style="width: 160px;">订单价格</th>
                    <th style="width: 130px;">订单状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody style="font-size: 25px;">
                <tr th:each="buyOrder:${buyOrders}">
                    <form action="/order/change" method="post">
                        <input type="hidden" name="type" value="0">
                        <input type="hidden" th:value="${buyOrder.orderId}" name="orderId">
                        <input type="hidden" th:value="${buyOrder.orderState}" name="orderState">
                    <th th:text="${buyOrder.orderId}"></th>
                    <th th:text="${buyOrder.goodName}"></th>
                    <th th:text="${buyOrder.game}+' / '+${buyOrder.server}+' / '+${buyOrder.account}"></th>
                    <th th:text="${buyOrder.orderCreateTime}"></th>
                    <th th:text="${buyOrder.orderUpdateTime}"></th>
                    <th class="price" th:text="${buyOrder.orderPrice}"></th>
                    <th th:if="${buyOrder.orderState} eq '0'">待买家付款</th>
                    <th th:if="${buyOrder.orderState} eq '1'">买家已付款,待卖家发货</th>
                    <th th:if="${buyOrder.orderState} eq '2'">卖家已发货,待买家确认</th>
                    <th th:if="${buyOrder.orderState} eq '3'">买家已确认收货</th>
                    <th th:if="${buyOrder.orderState} eq '4'">订单已完成</th>
                    <th th:if="${buyOrder.orderState} eq '5'">订单已取消</th>
                    <th th:if="${buyOrder.orderState} eq '0' or ${buyOrder.orderState} eq '1' "><input type="submit" class="layui-btn layui-btn-warm layui-btn-radius" style="width: 110px;height: 60px;font-size:18px;" value="取消订单" onclick="return confirm('您确定要取消吗?一经操作无法撤销哦!')"></th>
                    <th th:if="${buyOrder.orderState} eq '2' "><input type="submit" class="layui-btn layui-btn-normal layui-btn-radius" style="width: 110px;height: 60px;font-size:18px;" value="确认收货" onclick="return confirm('确定已经收到货了吗?')"></th>
                    <th th:if="${buyOrder.orderState} eq '3' or ${buyOrder.orderState} eq '4' or ${buyOrder.orderState} eq '5' "></th>
                    </form>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="layui-tab-item">
            <table style="text-align: center;width: 1380px;">
                <thead>
                <tr>
                    <th style="width: 110px;">订单编号</th>
                    <th style="width: 150px;">订单商品</th>
                    <th style="width: 200px;">所属游戏/区服/收货账号</th>
                    <th style="width: 140px;">订单创建时间</th>
                    <th style="width: 140px;">订单更新时间</th>
                    <th style="width: 150px;">订单价格</th>
                    <th style="width: 150px;">实得金额</th>
                    <th style="width: 150px;">订单状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody style="font-size: 25px;">
                <tr th:each="sellOrder:${sellOrders}">
                    <form action="/order/change" method="post">
                        <input type="hidden" th:value="${sellOrder.orderId}" name="orderId">
                        <input type="hidden" th:value="${sellOrder.orderState}" name="orderState">
                    <th th:text="${sellOrder.orderId}"></th>
                    <th th:text="${sellOrder.goodName}"></th>
                    <th th:text="${sellOrder.game}+' / '+${sellOrder.server}+' / '+${sellOrder.account}"></th>
                    <th th:text="${sellOrder.orderCreateTime}"></th>
                    <th th:text="${sellOrder.orderUpdateTime}"></th>
                    <th class="price" th:text="${sellOrder.orderPrice}"></th>
                    <th id="priceTest" class="price" th:text="${#numbers.formatDecimal(sellOrder.orderPrice*0.95,1,'COMMA',2,'POINT')}"></th>
                    <th th:if="${sellOrder.orderState} eq '0'">待买家付款</th>
                    <th th:if="${sellOrder.orderState} eq '1'">买家已付款,待卖家发货</th>
                    <th th:if="${sellOrder.orderState} eq '2'">卖家已发货,待买家确认</th>
                    <th th:if="${sellOrder.orderState} eq '3'">待领取钱款</th>
                    <th th:if="${sellOrder.orderState} eq '4'">订单已完成</th>
                    <th th:if="${sellOrder.orderState} eq '5'">订单已取消</th>
                    <th th:if="${sellOrder.orderState} eq '0' or ${sellOrder.orderState} eq '2' or ${sellOrder.orderState} eq '4' or ${sellOrder.orderState} eq '5' "></th>
                    <th th:if="${sellOrder.orderState} eq '1' "><input type="submit" class="layui-btn layui-btn-normal layui-btn-radius" style="width: 110px;height: 60px;font-size:18px;" value="确定发货" onclick="return confirm('确定已经向买家指定账号发货了吗?')"></th>
                    <th th:if="${sellOrder.orderState} eq '3'"><input type="submit" class="layui-btn layui-btn-normal layui-btn-radius" style="width: 110px;height: 60px;font-size:18px;" value="领取钱款" onclick="alert('成功领取该笔订单收益(平台收取5%手续费)')"></th>
                    </form>
                </tr>
                </tbody>

            </table>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui.all.js}"></script>
<script>
    function come() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('本站暂无人工客服在线!如有疑问请咨询邮箱shendongjian@email.ncu.edu.cn');
        });
    }
</script>


</body>
</html>