<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>搜索商品</title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/normal.css}"/>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>

    <style>
        .layui-table-header th {
            text-align: center;
            font-size: 25px;
        }
    </style>

</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="/index.html">南昌大学游戏交易平台首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="">管理员入口</a>
    </li>
    <li class="layui-nav-item">
        <a href="http://www.ncu.edu.cn/">友情链接-南昌大学首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/search.html">我要购买</a>
    </li>
    <li class="layui-nav-item">
        <a href="">我要出售</a>
    </li>
    <li class="layui-nav-item">
        <a href="">联系客服</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a href="javascript:;"><img src="image/logo.png" class="layui-nav-img"><span th:text="${session.user.userNickname}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人资料</a></dd>
            <dd><a href="javascript:;">我的订单</a></dd>
            <dd><a href="javascript:;">退出登录</a></dd>
        </dl>
    </li>
</ul>


<div class="total">
    <div class="bigLogoDiv">
        <img src="image/logo.png" class="bigLogo">
    </div>

    <div class="bigSearchDiv">
        <i class="layui-icon layui-icon-search" style="font-size:40px;position: relative;top: 70px;left: 20px;"></i>
        <form action="/search.html" method="get">
            <input type="text" name="target" placeholder="输入您要查找的游戏/商品名称或关键字"  class="layui-input" style="position: relative;width: 500px;height: 60px; left: 90px;top:20px;font-size: 25px;">
            <input type="submit" class="layui-btn layui-btn-normal" value="搜索" style="position: relative;width: 150px;height: 60px;font-size:30px; left: 620px;top: -40px;" />
        </form>
    </div>
    <div class="smallDiv">
        <span class="firstSpan">以下是搜索 <span th:text="${target}" class="secondSpan"></span> 的在售商品</span>
    </div>

    <div class="tableDiv">
        <!--<table class="layui-table"  lay-data="{height: 'full-100',limit:10, url:'/getTable', page:true, id:'test'}" lay-filter="test">
            <thead>
            <tr>
                <th lay-data="{field:'goodsName', width:250,style:'color:#007DDB;font-size:20px;',templet: '#name'}">商品名称</th>
                <th lay-data="{field:'goodsGame', width:150,style:'font-size:20px;'}">所属游戏</th>
                <th lay-data="{field:'goodsServer', width:200,style:'font-size:20px;'}">所属服务器</th>
                <th lay-data="{field:'goodsSeller',width:180,style:'font-size:20px;'}">卖家昵称</th>
                <th lay-data="{field:'goodsUpdateTime',width:220,style:'font-size:20px;'}">商品更新时间</th>
                <th lay-data="{field:'goodsPrice',width:175,sort: true,style:'color:orange;font-size:28px;'}">价格</th>
            </tr>
            </thead>
        </table>-->
        <table id="demo" lay-filter="test"></table>

    </div>
    <!--<div class="pageDiv">
        <div id="myPage" style="position: relative;left: 250px;"></div>
    </div>-->

</div>

<script type="text/javascript" th:src="@{/layui.all.js}"></script>

<script th:inline="javascript">
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 'full-100'
            ,url: '/getTable' //数据接口
            ,page: true //开启分页
            ,where:{target:'[(${target})]'}
            ,cols: [
                [ //表头
                {field:'goodsName', width:250,style:'color:#007DDB;font-size:20px;',templet: '#name',title:'商品名称'}
                ,{field:'goodsGame', width:150,style:'font-size:20px;',title:'所属游戏'}
                ,{field:'goodsServer', width:200,style:'font-size:20px;',title:'所属服务器'}
                ,{field:'goodsSeller',width:180,style:'font-size:20px;',title:'卖家昵称'}
                ,{field:'goodsUpdateTime',width:220,style:'font-size:20px;',title:'商品更新时间'}
                ,{field:'goodsPrice',width:175,sort: true,style:'color:orange;font-size:28px;',title:'价格'}
                ]
            ]
        });
    });
</script>

<script type="text/html" id="name">
    <a href="http://www.baidu.com" class="layui-table-link" >{{d.goodsName}}</a>
</script>


</body>
</html>