<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <script type="text/javascript" th:src="@{/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/css/normal.css}"/>
    <link rel="stylesheet" th:href="@{/css/layui.css}"/>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="/index.html"><i class="layui-icon layui-icon-home"></i>南昌大学游戏交易平台首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="">管理员入口</a>
    </li>
    <li class="layui-nav-item">
        <a href="http://www.ncu.edu.cn/" target="_blank">友情链接-南昌大学首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/search.html">我要购买</a>
    </li>
    <li class="layui-nav-item">
        <a href="">我要出售</a>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:come();"><i class="layui-icon layui-icon-service"></i>联系客服</a>
    </li>
    <li class="layui-nav-item" lay-unselect="">
        <a href="javascript:;"><img th:src="'image/'+${session.user.userAvatar}" class="layui-nav-img"><span th:text="${session.user.userNickname}"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人资料</a></dd>
            <dd><a href="/order.html">我的订单</a></dd>
            <dd><a href="/user/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>

<div class="total">

    <div class="selfDiv">
        <div class="avatarDiv">
            <img src="image/ddt.jpg" class="avatar" id="avatar">
            <button type="button" class="layui-btn layui-btn-normal" id="upload" style="position: relative;top: 130px;left:-65px;width: 120px;height: 50px;font-size:18px;">更改头像</button>
        </div>
    </div>

</div>


<script type="text/javascript" th:src="@{/layui.all.js}"></script>
<script>
    function come() {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('本站暂无人工客服在线!如有疑问请咨询邮箱shendongjian@email.ncu.edu.cn');
        });
    }
</script>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery;
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: '/upload' //上传接口
            ,before:function(obj){
                obj.preview(function(index, file, result){
                    $('#avatar').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传完毕回调
                alert("success"+res.code);
            }
            ,error: function(res){
                //请求异常回调
                alert("error"+res);
            }
        });
    });
</script>

</body>
</html>