<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ncu.trading_server.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.ncu.trading_server.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_buyer" property="orderBuyer" jdbcType="INTEGER" />
    <result column="order_goods" property="orderGoods" jdbcType="INTEGER" />
    <result column="order_state" property="orderState" jdbcType="SMALLINT" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="order_update_time" property="orderUpdateTime" jdbcType="TIMESTAMP" />
    <result column="order_receiving_account" property="orderReceivingAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_buyer, order_goods, order_state, order_create_time, order_update_time, 
    order_receiving_account
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ncu.trading_server.entity.Order" >
    insert into t_order (order_id, order_buyer, order_goods, 
      order_state, order_create_time, order_update_time, 
      order_receiving_account)
    values (#{orderId,jdbcType=INTEGER}, #{orderBuyer,jdbcType=INTEGER}, #{orderGoods,jdbcType=INTEGER}, 
      #{orderState,jdbcType=SMALLINT}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderUpdateTime,jdbcType=TIMESTAMP}, 
      #{orderReceivingAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ncu.trading_server.entity.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderBuyer != null" >
        order_buyer,
      </if>
      <if test="orderGoods != null" >
        order_goods,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="orderUpdateTime != null" >
        order_update_time,
      </if>
      <if test="orderReceivingAccount != null" >
        order_receiving_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderBuyer != null" >
        #{orderBuyer,jdbcType=INTEGER},
      </if>
      <if test="orderGoods != null" >
        #{orderGoods,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=SMALLINT},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderUpdateTime != null" >
        #{orderUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderReceivingAccount != null" >
        #{orderReceivingAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ncu.trading_server.entity.Order" >
    update t_order
    <set >
      <if test="orderBuyer != null" >
        order_buyer = #{orderBuyer,jdbcType=INTEGER},
      </if>
      <if test="orderGoods != null" >
        order_goods = #{orderGoods,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=SMALLINT},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderUpdateTime != null" >
        order_update_time = #{orderUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderReceivingAccount != null" >
        order_receiving_account = #{orderReceivingAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ncu.trading_server.entity.Order" >
    update t_order
    set order_buyer = #{orderBuyer,jdbcType=INTEGER},
      order_goods = #{orderGoods,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=SMALLINT},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_update_time = #{orderUpdateTime,jdbcType=TIMESTAMP},
      order_receiving_account = #{orderReceivingAccount,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="getOrderByBuyer" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_order
    where order_buyer = #{buyer,jdbcType=INTEGER}
  </select>
  <select id="getOrderByGoodId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_order
    where order_goods = #{goodId,jdbcType=INTEGER}
  </select>
</mapper>